@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');
.side-border{
    border: 1px solid black;
}

.lf-logo{
    margin-top: 32px;

}
.lf-bgimg{
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: -1;
}
.lf-header {
    height: 50px;
}
.lf-ml{
    margin-left: 90px;
}
.lf-copyright{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #74838C;
    height: 14px;
    width: 538px;
    margin-bottom: 31px;
}
.lf-subheading{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #74838C;
    width: 502px;
    height: 54px;
    margin-top: 23px;
}

.lf-mt{
    margin-top: 43px;
}
.lf-heading{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #121223;


    margin-left: 5px;

}
.lf-rmt{
    height: calc(100% - 90px);

}
.lf-btnstyle{
    width: 176px;
    height: 54px;
    margin-left: 11px;
    background-color: #091640;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-left:30px ;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
    letter-spacing: -0.21px;
}
.lf-arrowstyle{
    padding-right: 19px;
}
.lf-time{
    height: 40px ;
    width: 135px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #121223;
    margin-top: 11px;
    margin-bottom: 9px;
    margin-right: 22px;
}
.lf-clock{
    width: 40px;
    height: 40px;
    margin-left: 11px;
    margin-bottom: 11px;
    margin-top: 10px;
    margin-right: 8px;
}
.lf-inputwraper{
    width: 405px;
    height: 55px;
    border: 1px solid #B8BFC3;

}
::placeholder{
    color: #B8BFC3;
}
.lf-inputstyle{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}


input:focus{
    outline: none;
}
